{# src/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}BZH caller{% endblock %}</title>

  {% block stylesheets %}
    {% stylesheets filter="cssrewrite, ?scssphp"
      'bundles/bzhcore/css/bootstrap.min.css'
      'bundles/bzhcore/css/style.css'
      'bundles/bzhcore/css/jqModal.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  
  {% endblock %}
</head>

<body>
  <div class="container">
    <h1 id="header">
      <a href="{{path('home')}}">BZH CALLER</a>
    </h1>
    
    {% for message in app.session.flashbag.get('info') %}
      <div class="center alert alert-info" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('error') %}
      <div class="center alert alert-danger" role="error">
        {{ message }}
      </div>
    {% endfor %}
    
    <div class="row">
      <div id="content" class="col-md-12">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <footer>
      <p>{{ 'now'|date('Y') }} © {{ webmaster }} (v{{ version }})</p>
    </footer>

  {% block javascripts %}
    {% javascripts 
        'bundles/bzhcore/js/jquery.min.js'
        'bundles/bzhcore/js/bootstrap.min.js'
        'bundles/bzhcore/js/jqModal.js' 
        'bundles/bzhcore/js/bootstrap-contextmenu.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    {% block twigjs %}{% endblock %}
  {% endblock %}
  
</body>
</html>