{# src/CoreBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="apple-touch-icon" sizes="57x57" href="/bundles/bzhcore/icon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/bundles/bzhcore/icon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/bundles/bzhcore/icon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/bundles/bzhcore/icon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/bundles/bzhcore/icon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/bundles/bzhcore/icon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/bundles/bzhcore/icon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/bundles/bzhcore/icon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/bundles/bzhcore/icon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/bundles/bzhcore/icon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/bundles/bzhcore/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/bundles/bzhcore/icon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/bundles/bzhcore/icon/favicon-16x16.png">
  <link rel="manifest" href="/bundles/bzhcore/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/bundles/bzhcore/icon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>{% block title %}BZH caller{% endblock %}</title>

  {% block stylesheets %}
    {% stylesheets filter="cssrewrite, ?scssphp"
      'bundles/bzhcore/css/bootstrap.min.css'
      'bundles/bzhcore/css/style.css'
      'bundles/bzhcore/css/jqModal.css'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  
  {% endblock %}
</head>

<body>
  <div class="container">
    <h1 id="header">
      <a href="{{path('home')}}">BZH CALLER</a>
    </h1>
    
    {% for message in app.session.flashbag.get('info') %}
      <div class="center alert alert-info" role="alert">
        {{ message }}
      </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('error') %}
      <div class="center alert alert-danger" role="error">
        {{ message }}
      </div>
    {% endfor %}
    
    <div class="row">
      <div id="content" class="col-md-12">
        {% block body %}
        {% endblock %}
      </div>
    </div>

    <footer>
      <p>© {{ webmaster }}   v{{ version }}  {{ 'now'|date('d/m/Y H:i:s') }} </p>
    </footer>

  {% block javascripts %}
    {% javascripts 
        'bundles/bzhcore/js/jquery.min.js'
        'bundles/bzhcore/js/bootstrap.min.js'
        'bundles/bzhcore/js/jqModal.js' 
        'bundles/bzhcore/js/bootstrap-contextmenu.js'
        'bundles/fosjsrouting/js/router.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
    {% block twigjs %}{% endblock %}
  {% endblock %}
  
</body>
</html>