{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    
    <p class="center">
        Outil de planification pour les guerres de clans
    </p>
    
    <p class="center col-md-4 col-md-offset-4">
        <a href="{{ path('clan_rules', {'slug':'clash-bzh'}) }}" class="w400 btn btn-success">
          Règles
        </a>
    </p>

    {% for w in wars %}
        <p class="center col-md-4 col-md-offset-4">
            <a href="{{ path('war_code', {'code':w.code}) }}" class="w400 btn btn-danger">
                Guerre en cours {% if clans|length > 1 %}<i>{{ w.bzhClan.name }}</i>{% endif %}
            </a>
        </p>
    {% endfor %}


    <p class="center col-md-4 col-md-offset-4">
        <a href="{{ path('war_new') }}" class="w400 btn btn-primary">
          Nouvelle guerre
        </a>
    </p>

    {% for c in clans %}
        <p class="center col-md-4 col-md-offset-4">
            <a href="{{ path('clan_warlog', {'slug':c.slug}) }}" class="w400 btn btn-info">
              Historique {% if clans|length > 1 %}{{ c.name }}{% endif %}
            </a>
        </p>
    {% endfor %}

    {% for c in clans %}
        <p class="center col-md-4 col-md-offset-4">
            <a href="{{ path('clan_stats', {'slug':c.slug}) }}" class="w400 btn btn-warning">
              Statistiques {% if clans|length > 1 %}{{ c.name }}{% endif %}
            </a>
        </p>
    {% endfor %}

    {% for c in clans %}
        <p class="center col-md-4 col-md-offset-4">
            <a href="{{ path('clan_members', {'slug':c.slug}) }}" class="w400 btn btn-default">
              Joueurs {% if clans|length > 1 %}{{ c.name }}{% endif %}
            </a>
        </p>
    {% endfor %}
    
    <a href="http://clashbzh.forumactif.fr/" class="w400 btn btn-link">Accès au forum</a>
    
{% endblock %}
