{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    <h2>Liste des joueurs de {{ clan.name }}</h2>
    
    <p>Encore en construction ... </p>
    
    <ul>
      {% for m in json.items %}
        <li>{{ m.tag }} {{ m.name }} {{ m.role }}</li>
      {% endfor %}
    </ul>
    {% if app.debug %}
        {{ dump(json) }}
    {% endif %}
{% endblock %}
