<div id="{{ id }}" class="table-responsive noclash">
    <table class="table table-bordered table-striped table-condensed" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>HDV</th>
                <th>Grade</th>
                <th>Niveau</th>
                <th>Etoiles de guerre</th>
                <th>Record trophés</th>                
                <th>Poids de guerre</th>
                <th>Puissance offensive *</th>
            </tr>
        </thead>
        <tbody>
            {% for p in players %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.hdv }}</td>
                    <td>{{ grades[p.role] }}</td>
                    <td>{{ p.expLevel }}</td>
                    <td>{{ p.warStars }}</td>
                    <td>{{ p.bestTrophies }}</td>
                    <td>{{ p.weight }}</td>
                    <td>{{ p.offense }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>