{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    
    {# Exemple sans timer : http://www.clashcaller.com/war/jdfxj 
    {# Exemple avec timer : http://www.clashcaller.com/war/undkb #}
    
    <h3>{{ war.bzhClan.name }} vs {{ war.vsClan.name }}</h3>
    
    <div class="row" style="color:grey">
        <p class="center col-md-4">
            Code : {{ war.code }}
        </p>
        <p class="center col-md-4">
            Début : {{ war.dateStart|date('d/m/Y H:i') }}
            {% if timeBejoreStart %}
                (<span class="prepday"></span>)
            {% endif %}
        </p>
        <p class="center col-md-4">
            Fin : {{ war.dateEnd|date('d/m/Y H:i') }}
            {% if timeBejoreEnd and not timeBejoreStart %}
                (<span class="warday"></span>)
            {% endif %}
        </p>
    </div>
    
    {{ render(controller("BzhWarBundle:War:clanDescription", {'code': war.code })) }}
    
    {% for t in targets %}
        
        {% set color = 'grey' %}
        {% if t.comment|length > 0 %}
            {% set color = 'blue' %}
        {% endif %}
         <div class="center target">
            {#<img src="{{ asset('bundles/bzhwar/img/note.png') }}" onclick="addComment({{ t.id }}, {{ t.position }}, '{{ t.comment|escape('js') }}')"/>#}
            <i title="Ajouter un commentaire" class="glyphicon glyphicon-comment btn" style="color:{{color}};font-size:22px;" onclick="addComment({{ t.id }}, {{ t.position }}, '{{ t.comment|escape('js') }}')"></i>
            
            <img title="Modifier le niveau de l'hdv" class="hdv" src="{{ asset('bundles/bzhwar/img/hdv' ~ t.hdv ~ '.png') }}" title="HDV {{ t.hdv }}" onclick="changeHdv({{ t.id }}, {{ t.position }})"/>
            
            <span class="big text-muted">{{ t.position }}.</span>
            
            {% for a in t.attacks %}
                <div class="attack">
                    <span class="name" onclick="editReservation('{{ war.code }}', {{ a.id }}, '{{ a.name|escape('js') }}')">
                        {{ a.name }}
                    </span>
                    <i class="glyphicon glyphicon-remove delete" title="Supprimer la réservation" onclick="deleteAttack('{{ war.code }}', {{ a.id }})"></i>
                    
                    <br />
                    
                    <span class="noclash">{{ a.timerStart|date('H:i') }} -> {{ a.timerEnd|date('H:i') }}</span>
                    
                </div>
                {#start:{{a.timerStart|date('d/m/Y H:i:s')}} - end:{{a.timerEnd|date('d/m/Y H:i:s')}}#}
            {% endfor %}   
            
            <img title="Ajouter une réservation" src="{{ asset('bundles/bzhwar/img/add.png') }}" onclick="addReservation({{ t.id }}, {{ t.position }})"/>
        </div>
        {# render(controller("BzhWarBundle:War:targetComment", {'id': t.id })) #}
    {% endfor %}
    
    <div id="targetcomment" class="jqmWindow center">
        {{ include("BzhWarBundle:War:targetComment.html.twig") }}
    </div>
    <div id="targethdv" class="jqmWindow center">
        
    </div>
    <div id="targetattack" class="jqmWindow center">
        {{ include("BzhWarBundle:War:targetAttack.html.twig") }}
    </div>
        
    {# include("BzhWarBundle:War:dump.html.twig") #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'bundles/bzhwar/js/war.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}    

{% block twigjs %}
<script type="text/javascript">    
    function changeHdv(targetid) {
        alert('changeHdv ' + targetid);
    }
    
    var dateStart = '{{ war.dateStart|date('Y-m-d H:i:s') }}';
    var dateEnd = '{{ war.dateEnd|date('Y-m-d H:i:s') }}';
    function countdownStart() {
        countdown(dateStart, '.prepday');
    }
    function countdownEnd() {
        countdown(dateEnd, '.warday');
    }
</script>
{% endblock %}