{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    <h3>{{ war.bzhClan.name }} <span class="noclash">vs</span> {{ war.vsClan.name }}</h3>
    
    <div class="row" style="color:grey">
        {#<p class="center col-md-4">
            Code : {{ war.code }}
        </p>#}
        <p class="center col-md-6">
            Début : {{ war.dateStart|date('d/m/Y H:i') }}
            {% if timeBejoreStart %}
                (<span class="prepday"></span>)
            {% endif %}
        </p>
        <p class="center col-md-6">
            Fin : {{ war.dateEnd|date('d/m/Y H:i') }}
            {% if timeBejoreEnd and not timeBejoreStart %}
                (<span class="warday"></span>)
            {% endif %}
        </p>
    </div>
    
    {{ render(controller("BzhWarBundle:War:clanDescription", {'code': war.code })) }}
    
    <hr/>
    
    {% if totalStars %}
        <div class="center">
            {{ totalStars }}
            <i class="glyphicon glyphicon-star"></i>
            <hr />
        </div>
    {% endif %}
    
    {% for t in targets %}
        
        {% set color = 'grey' %}
        {% set title = 'Ajouter un commentaire' %}
        {% if t.comment|length > 0 %}
            {% set color = 'blue' %}
            {% set title = 'Modifier un commentaire' %}
        {% endif %}
         <div class="target">
            <i title="{{ title }}" class="glyphicon glyphicon-comment btn" style="color:{{color}};font-size:22px;" onclick="addComment({{ t.id }})"></i>
            
            <img title="Modifier le niveau de l'hdv" class="hdv" src="{{ asset('bundles/bzhwar/img/hdv' ~ t.hdv ~ '.png') }}" title="HDV {{ t.hdv }}" onclick="changeHdv({{ t.id }}, {{ t.hdv }})"/>
            
            <span class="big text-muted">{{ t.position }}.</span>
            
            {% for a in t.attacks %}
                <div class="attack">
                    <p>
                        <span class="name" onclick="editReservation({{ a.id }}, '{{ a.name|escape('js') }}')">
                            {{ a.name }}
                        </span>
                        <i class="glyphicon glyphicon-remove delete" title="Supprimer la réservation" onclick="deleteAttack({{ a.id }})"></i>
                    </p>
                    <p class="result pointer" onclick="setResultAttack({{ a.id }},'{{ a.stars }}','{{ a.destruction }}')">
                        {% if a.dateResult is not null %}
                            {% if a.stars > 0 %}
                                {% for i in 1..a.stars %}
                                    {% set style = 'style="color:grey"' %}
                                    {% if i == 1 and a.firstStarWin %}
                                        {% set style = '' %}
                                    {% elseif i == 2 and a.secondStarWin %}
                                        {% set style = '' %}
                                    {% elseif i == 3 and a.thirdStarWin %}
                                        {% set style = '' %}
                                    {% endif %}
                                    <i class="glyphicon glyphicon-star" {{ style|raw }} title="{{a.destruction}}% de destruction"></i>
                                {% endfor %}
                            {% endif %}
                            {% if a.stars < 3 %}
                                {% for i in (a.stars+1)..3 %}
                                    <i class="glyphicon glyphicon-star-empty" title="{{a.destruction}}% de destruction"></i>
                                {% endfor %}
                            {% endif %}
                        {% elseif timeBejoreEnd and not timeBejoreStart %}
                            <i class="glyphicon glyphicon-time" title="Fin à {{ a.timerEnd|date('H') }}h{{ a.timerEnd|date('i') }}"></i>
                            <span class="noclash timer" id="timer{{ a.id }}"></span>
                        {% elseif not timeBejoreEnd and not timeBejoreStart and not a.stars %}
                            <span class="noclash timer">Noter le résultat</span>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}   
            
            <img title="Ajouter une réservation" src="{{ asset('bundles/bzhwar/img/add.png') }}" onclick="addReservation({{ t.id }}, {{ t.position }})"/>
        </div>
    {% endfor %}
    
    <div id="targetcomment" class="jqmWindow center">
        {# include("BzhWarBundle:War:targetComment.html.twig") #}
    </div>
    <div id="targethdv" class="jqmWindow center">
        {{ include("BzhWarBundle:War:targetHdv.html.twig") }}
    </div>
    <div id="targetattack" class="jqmWindow center">
        {{ include("BzhWarBundle:War:targetAttack.html.twig") }}
    </div>
    <div id="resultattack" class="jqmWindow center">
        {{ include("BzhWarBundle:War:resultAttack.html.twig") }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'bundles/bzhwar/js/war.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}    

{% block twigjs %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript">    
    var dateStart = '{{ war.dateStart|date('Y-m-d H:i:s') }}';
    var dateEnd = '{{ war.dateEnd|date('Y-m-d H:i:s') }}';
    var warcode = '{{ war.code }}';
    function countdownStart() {
        if(!countdown(dateStart, '.prepday')) {
            location.reload();
        }
    }
    function countdownEnd() {
        if(!countdown(dateEnd, '.warday')) {
            location.reload();
        }
    }
    
    {% for t in targets %}
        {% for a in t.attacks %}
            function countdown{{ a.id }}() {
                var id = "#timer{{ a.id }}";
                if($(id).size() > 0) {
                    var dateEnd = '{{ a.timerEnd|date('Y-m-d H:i:s') }}';
                    var bool = countdown(dateEnd, id);
                    if(!bool) {
                        $(id).html("Expiré");
                        $(id).parent().css("color","red");
                    }
                    return bool;
                }
                return false;
            }
            $().ready(function() {
                if(countdown{{ a.id }}()) {
                    setInterval(countdown{{ a.id }}, 1000);
                }
            });
        {% endfor %}
    {% endfor %}
    
    var players;
    $( function() {
        players = [
          {% for m in members %}
            "{{ m.name|raw }}",
          {% endfor %}            
        ];
        $( "#target_attack_name" ).autocomplete({
          source: players
        });
    });
</script>
{% endblock %}