{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    
    {# Exemple sans timer : http://www.clashcaller.com/war/jdfxj 
    {# Exemple avec timer : http://www.clashcaller.com/war/undkb #}
    
    <h3>{{ war.bzhClan.name }} vs {{ war.vsClan.name }}</h3>
    
    <div class="row" style="color:grey">
        <p class="center col-md-4">
            Code : {{ war.code }}
        </p>
        <p class="center col-md-4">
            Début : {{ war.dateStart|date('d/m/Y H:i') }}
            {% if timeBejoreStart %}
                (<span class="prepday"></span>)
            {% endif %}
        </p>
        <p class="center col-md-4">
            Fin : {{ war.dateEnd|date('d/m/Y H:i') }}
            {% if timeBejoreEnd and not timeBejoreStart %}
                (<span class="warday"></span>)
            {% endif %}
        </p>
    </div>
    
    {{ include("BzhWarBundle:War:clanDescription.html.twig") }}
    
    {% for t in targets %}
         <p class="center target">
            <img class="comment" src="{{ asset('bundles/bzhwar/img/note.png') }}" onclick="addComment({{ t.id }})"/>
            <img class="hdv" src="{{ asset('bundles/bzhwar/img/hdv' ~ t.hdv ~ '.png') }}" title="HDV {{ t.hdv }}" onclick="changeHdv({{ t.id }})"/>
            <span class="big text-muted">{{ t.position }}.</span>
            <img src="{{ asset('bundles/bzhwar/img/add.png') }}" onclick="addReservation({{ t.id }})"/>
        </p>
    {% endfor %}
    
    {{ include("BzhWarBundle:War:targetComment.html.twig") }}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'bundles/bzhwar/js/war.js' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}    

{% block twigjs %}
<script type="text/javascript">    
    function addComment(targetid) {
        alert('addComment ' + targetid);
    }
    function changeHdv(targetid) {
        alert('changeHdv ' + targetid);
    }
    function addReservation(targetid) {
        alert('addReservation ' + targetid);
    }
    
    var dateStart = '{{ war.dateStart|date('Y-m-d H:i:s') }}';
    var dateEnd = '{{ war.dateEnd|date('Y-m-d H:i:s') }}';
    function countdownStart() {
        countdown(dateStart, '.prepday');
    }
    function countdownEnd() {
        countdown(dateEnd, '.warday');
    }
    
    function countdown(dateStr, className) {
      var eventDate = StringToDate(dateStr);
    
      if(!eventDate) {
        return;
      }
      
      var currentDate = new Date();
      if(currentDate >= eventDate) {
        location.reload();
        return;
      }

      var diff = calcDiff(eventDate.getTime(), currentDate.getTime());
      
      if(diff['hours'] == 0) {
        diff['minutes']++;
        $(className).html(diff['minutes'] + 'M');
      }
      else {
        $(className).html(diff['hours'] + 'H' + ' ' + padLeft(String(diff['minutes']),2) + 'M');
      }
    }

    $( document ).ready(function() {
      if($('.prepday').size() > 0) {
        countdownStart();
        setInterval(countdownStart, 1000);
      }
      if($('.warday').size() > 0) {
        countdownEnd();
        setInterval(countdownEnd, 1000);
      }
    });
</script>
{% endblock %}