{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    <h3>Création d'une guerre</h3>

    <div class="well">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.size) }}
        {{ form_row(form.timeChoice) }}
        {{ form_row(form.timeTo) }}
        {{ form_row(form.bzhClan) }}
        {{ form_row(form.vsClan.name) }}
        {{ form_row(form.vsClan.tag) }}
        {{ form_row(form.vsClan.level) }}
        {{ form_row(form.enregistrer) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
