<h4>Cible niveau{#target.position#}</h4>
{{ form_start(formHdv, {'attr': {'id': 'target_hdv'}}) }}
{{ form_errors(formHdv) }}
{{ form_widget(formHdv.hdv) }}
<div style="margin-top:10px;">
    {{ form_widget(formHdv.enregistrer) }}
    {{ form_widget(formHdv.fermer) }}
</div>
{{ form_rest(formHdv) }}
{{ form_end(formHdv) }}